.App-daymode {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 100% !important;
}

.App-nightmode {
  position: absolute;
  background-color: rgb(92, 68, 68);
  height: 100% !important;
}

.Dashboard {
  display: flex;
  flex-direction: column;
}

.D-header {
  padding: 0 6em;
  display: flex;
  justify-content: space-between;
}

.D-right {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}

.D-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.D-center-appname {
  color: tomato;
  font-size: 1.2em;
}
/* .D-left {
  float: left;
}

.D-right {
  float: right;
  display: flex;
  flex-direction: row;
} */

.Dashboard-header-bitcoin-logo {
  padding: 0.4em 0em;
  color: #D4AF37;
  font-size: 1.2em;
}

.Dashboard-header-bitcoin-price {
  padding: 0.5em 0em;
  padding-left: 0.2em;
  color: gray;
  font-size: 1em;
}

.Dashboard-header-time {
  padding: 0.5em 0em;
  padding-right: 0.8em;
  color: rgb(45, 197, 52)
}

.Dashboard-header-settings {
  padding: 0.5em 1.2em;
  color: tomato;
  font-size: 1.2em;
  cursor: pointer;
}

.Dashboard-header-open-settings {
  display: flex;
  flex-direction: row;
}

.Dashboard-header-settings-close {
  color: tomato;
}

Dashboard-header-settings-close:hover {
  color: tomato;
}

.Dashboard-header-settings-about {
  font-size: 0.8em;
  padding: 0em 0.5em;
  padding-left: 1em;
  color: gray;
}

.Dashboard-header-settings-about:hover {
  color: tomato;
}

.Dashboard-header-settings-icon {
  color: darkgray;
  font-size: 0.8em;
  padding: 0em 1em;
  padding-top: 0.15em;
  padding-left: 0.5em;
}

.Dashboard-header-settings-icon-sun {
  color: wheat
}

.Dashboard-header-settings-icon-moon {
  color: black
}

.Dashboard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em 1em;
}


.Dashboard-footer {
  display: flex;
  justify-content: center;
}

.Dashboard-love-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Dashboard-footer-text{
  padding: 0em 0.3em;
}

.Dashboard-footer-text-nightmode {
  color: wheat;
}

.Dashboard-footer-text-daymode {
  color: gray;
}

.Dashboard-footer-icon {
  color: #FE0000;
  padding-top: 0.1em;
  padding-left: 0.5em;
  font-size: 1em;
}